/* CSS Footer */
*{
    margin: 0px;
    padding: 0px;
}
.footer{
    background: linear-gradient(0deg, rgba(191, 115, 115, 0.2), rgba(191, 115, 115, 0.2)), linear-gradient(0deg, rgba(200, 102, 47, 0.45), rgba(200, 102, 47, 0.45)), rgba(0, 0, 0, 0.76);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100vw;
    padding: 0 4%;
    box-sizing: border-box;
}
.footer__top{
    display: flex;
    flex-direction: row;
    border-bottom: thin solid #FFFFFF;
    padding-top: 120px;
    padding-bottom: 35px;
   
}
.footer__text--parent{
    display: flex;
    flex-direction: row;
}
.footer__text--child.border{
    margin-right: 3px;
    padding-right: 3px;
    border-right: thin solid #FFFFFF;
}
.footer__text--child{
    margin-right: 3px;
    padding-right: 3px;
}
.footer__contact{
    box-sizing: border-box;
    padding-top: 30px;
}
.footer__text{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
.contact img{
    margin-right: 25px;
    height: 45px;
    width: 50px;
}
.footer__text.upper{
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.footer__payment{
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 20px;
}
.footer__element{
    flex-basis: 33%;
    margin-right: 84px;
}
.footer__bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.text__bottom{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-top: 20px;
}  