*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }
.slideshow-container {
    position: relative;
}
.navi__dot{
    position: absolute;
    top: 700px;
    right: 5%;
    width: 100px;
    height: 12.77px;
}
/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #753422;
    opacity: 0.5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active {
    background-color: #753422;
    opacity: 1;
  }
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* style class icon__navigation */
.icon__navigation{
    height: 33px;
    width: 33px;
    margin-right: 25.5px;
    color: #FFFFFF;
}
.navigation__bar{
    display: flex;
}
.navigation__bar button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* Style search box */
#search-box{
    background: transparent;
    border-radius: 30px;
}
/* #search-btn{
    background-color: aqua;
} */
#search-box #search-text{
    border: none;
    outline: none;
    background: none;
    /* padding: 10px 15px; */
    font-size: 18px;
    width: 0;
    padding: 0;
    color: #753422;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}
#search-box:hover #search-text{
    width: 300px;
    padding: 10px 15px;
}
#search-box #search-btn{
    background-color:transparent;
    cursor: pointer;
    border: none;
    padding: 1px;
    border-radius: 50%;
}
#search-box:hover #search-text, #search-box #search-text:valid{
    width: 300px;
    padding: 10px 0px 10px 15px;
}
/* CSS Header */
.headerline{
    display: flex;
    color: #FFFFFF;
    width: 100vw;
    height: 66px;
    font-size: 20px;
    background: linear-gradient(0deg, rgba(191, 115, 115, 0.2), rgba(191, 115, 115, 0.2)), linear-gradient(0deg, rgba(200, 102, 47, 0.45), rgba(200, 102, 47, 0.45)), rgba(0, 0, 0, 0.76);
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
.icon__navigation__bar{
    position: absolute;
    right: 81px;
    top:107px
}
/* CSS  Menu  */
.menu__navigation{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    top:160px;
    width: 100vw;
    flex-direction: row;
}
.menu{
    display: flex;
    border-bottom: thin solid #753422;
    border-top: thin solid #753422;
    
    
  }
  a{
    text-decoration: none;
    color: black;
  }
  .menu__ele{
    padding: 15px 20px;
    
  }
  .menu__ele a{
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* font-size: 20px; */
    font-weight: 500;
  }
  .dropdown a{
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 500;
  }
  .menu__ele:hover{
    padding: 15px 20px;
    background: rgba(191, 115, 115, 0.2);
  }
  .dropdown{
    padding: 15px 20px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:active{
    opacity: 0.5;
  }
  .menu__ele:active{
    padding: 15px 20px;
    background: rgba(191, 115, 115, 0.2);
    opacity: 0.5;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: -150px;
    left: -10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background: rgba(191, 115, 115, 0.2);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    background: rgba(191, 115, 115, 0.2);
  }
  .dropdown:hover{
    display: block;
    background: rgba(191, 115, 115, 0.2);
  }
  

/* .menu__left{
   box-sizing: border-box;
   border-bottom: thin solid #753422;
   border-top: thin solid #753422;
   border-width: 2px;
   font-size: 15px;
   font-weight: bold;
} */
/* .logo{
    position: absolute;
    width: 431.2px;
    height: 196.06px;
    top: 128.38px;
} */
/* .menu__right{
    box-sizing: border-box;
    border-bottom: 3px solid #753422;
    border-top: thin solid #753422;
    border-width: 2px;
    font-size: 15px;
   font-weight: bold;
   color: #FFFFFF;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: inline-block;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    color: #FFFFFF;
}
li a:hover{
    text-decoration: underline;
    color: #753422;
} */
/* Dropdown menu */

/* CSS Button to show all products */
.show_all_product{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn__show__product{
    position: absolute;
    bottom: 58px;
    display: inline;
    background-color: #FFFFFF;
    color: #753422;
    border-radius: 20px;
    border: thin solid  #753422 ;
    border-width:2px ;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
}
a{
    text-decoration: none;
}
.btn__show__product a{
    color: #753422;
}
.btn__show__product:hover{
    background-color: #753422;;
}
.btn__show__product a:hover{
    display: inline;
    background-color: #753422;
    color:  #FFFFFF;
    border-radius: 20px;
    /* border: thin solid   #FFFFFF ; */
    border-width:2px ;
    /* padding: 5px 10px; */
    cursor: pointer;
    font-size: 20px;
}
.btn__show__product:active{
    display: inline;
    background-color: #753422;;
    color:  #FFFFFF;
    border-radius: 20px;
    /* border: thin solid   #FFFFFF ; */
    border-width:2px ;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.5;
}
/* CSS Content Product Best Sellers */
.content__bestsellers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 45px;
}
.bestsellers{
    font-size: 35px;
    color: #753422;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
}
.product{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.product__name{
    font-size: 25px;
    font-weight: 400;
    margin: 10px 0px;
}
.product__price{
    font-size: 35px;
    font-weight: 400;
    color:  #FF9900;
    margin-bottom: 40px;
}
.product__item--small a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
img.img__product--item{
    width: 280px;
    height: 300px;
    border-radius: 30px;
}
.show_product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}
.button__show__product{
    display: inline;
    background-color: #753422;
    color:#FFFFFF;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
}
.button__show__product:hover{
    display: inline;
    background-color: #FFFFFF;
    color:#753422;
    border: thin solid #753422;
    border-width:2px ;
    /* padding: 10px 30px; */
    cursor: pointer;
    font-size: 20px;
}
.button__show__product:active{
    display: inline;
    background-color: #753422;
    color:#FFFFFF;
    opacity: 0.5;
    /* padding: 10px 30px; */
    cursor: pointer;
    font-size: 20px;
}
/* CSS Content Collections */
.show_product--content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 35px;
    color: #753422;
}
.product--content{

}
.allcollection{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.img__collection{
    width: 350px;
    height: 380px;
    border-radius: 30px;
    margin-bottom: 55px;
}
.collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.collection__name{
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 25px;
}
.collection__info{
    display: inline-block;
    padding: 10px 20px;
    background-color: #753422;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 140px;
}
.collection__info a{
    color: white;
}
.collection__info:hover{
    display: inline-block;
    /* padding: 10px 20px; */
    background-color: #753422;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.collection__info:active{
    display: inline-block;
    /* padding: 10px 20px; */
    background-color: white;
    border: thin solid #753422;
    opacity: 0.5;
    color: #753422;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__text{
    font-size: 30px;
    font-weight: 400;
    color: #753422;
    margin-bottom: 80px;
    margin-top: 40px;
}
.content.background{
    background:  #C8662F40;
}
.content__img{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
}
.img__content{
    height: 230px;
    width: 230px;
}
.img__collection.project{
    height: 500px;
    width: 700px;
}
/* CSS Footer */
.footer{
    background: linear-gradient(0deg, rgba(191, 115, 115, 0.2), rgba(191, 115, 115, 0.2)), linear-gradient(0deg, rgba(200, 102, 47, 0.45), rgba(200, 102, 47, 0.45)), rgba(0, 0, 0, 0.76);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100vw;
    padding: 0 4%;
    box-sizing: border-box;
}
.footer__top{
    display: flex;
    flex-direction: row;
    border-bottom: thin solid #FFFFFF;
    padding-top: 120px;
    padding-bottom: 35px;
   
}
.footer__text--parent{
    display: flex;
    flex-direction: row;
}
.footer__text--child.border{
    margin-right: 3px;
    padding-right: 3px;
    border-right: thin solid #FFFFFF;
}
.footer__text--child{
    margin-right: 3px;
    padding-right: 3px;
}
.footer__contact{
    box-sizing: border-box;
    padding-top: 30px;
}
.footer__text{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}
.contact img{
    margin-right: 25px;
    height: 45px;
    width: 50px;
}
.footer__text.upper{
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.footer__payment{
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 20px;
}
.footer__element{
    flex-basis: 33%;
    margin-right: 84px;
}
.footer__bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.text__bottom{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-top: 20px;
}  
/* Test */
/* .img__product--item {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color:transparent;
    color: #753422;
    font-weight: bold;
    font-size: 25px;
    padding: 16px 32px;
  }
  .container {
    position: relative;
    width: 100%;
  } */
