*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #945A4A;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 90px;
}
.container a{
    margin: 30px;
    text-decoration: none;
    color: black;
}
a>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item__name{
    color: black;
    font-weight: 400;
    font-size: 25px;
}
.item__price{
    color: #FF9900;
    font-weight: 400;
    font-size: 30px;
}
.img__item{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.tab__navi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 70px;
    cursor: pointer;
}
.tab__pages{
    width: 70px;
    height: 61px;
    /* background: #753422;
    color: white; */
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    color: #753422;
}
#tag_page1.active, #tag_page2.active{
    background: #753422;
    color: white;
}
 /* Style Modal */
 /* #modal-container{
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    
}
#modal-container.show{
    opacity: 1;
    pointer-events: all;
}

.modal{
    background: #fff;
    max-width: 500px;
    position: relative;
    left: 50%;
    top:0px;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
}
#modal-container.show .modal{
    top:100px;
}
.modal .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #dedede;
}
.modal .modal-header h3 {
    margin: 0;
}
button#btn-close{
    outline: none;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}
.modal .modal-body{
    padding: 10px 20px 15px;
} */