*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #945A4A;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 50px;
}

.section1{
    border: 1px solid black;
    padding: 10px;
    margin: 30px 20px;
    border-radius: 10px;
}
.section__product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section__product a{
    text-decoration: none;
}
.img__item{
    width: 300px;
    height: 280px;
    border-radius: 10px;
}
.img__item--large{
    width: 400px;
    height: 280px;
    border-radius: 10px;
}
a>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item__name{
    color: black;
    font-weight: 400;
    font-size: 25px;
}
.item__price{
    color: #FF9900;
    font-weight: 400;
    font-size: 30px;
}
.container a{
    margin: 30px;
    text-decoration: none;
    color: black;
}
.section2,.section3,.section4{
    border: 1px solid black;
    padding: 10px;
    margin: 30px 20px;
    border-radius: 10px;
}
.titlebst{
    font-weight: 600;
    font-size: 30px;
    color: #945A4A;
    margin-top: 50px;
    margin-bottom: 80px;
    border-bottom: 2px solid #000000;
    width: 250px;
    padding-bottom: 15px;
    margin-left: 30px;
    text-align: center;
}
.titlebst--SIGNA{
    font-weight: 600;
    font-size: 30px;
    color: #945A4A;
    margin-top: 50px;
    margin-bottom: 80px;
    border-bottom: 2px solid #000000;
    width: 400px;
    padding-bottom: 15px;
    margin-left: 30px;
    text-align: center;
}
.tab__navi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 70px;
    cursor: pointer;
}
.tab__pages{
    width: 70px;
    height: 61px;
    /* background: #753422;
    color: white; */
    font-weight: 800;
    text-align: center;
    padding-top: 20px;
    color: #753422;
}
#tag_page1.active, #tag_page2.active, #tag_page3.active{
    background: #753422;
    color: white;
}
