html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.reward{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    /* height: 100px; */
    font-family: Montserrat;
    text-align: center;
}

.container-1{
    padding: 0 20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #753422;
}

.reward-content_body1{
    text-align: left;
}

.container-2{
    margin-top: 87px;
    padding: 0 15%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contactus-container{
    /* padding: 0 35%; */
    display:flex;
    flex-direction: column;
    /* top: 50%; */

    background-image: url(../Assets/MediaReward/lien\ hệ\ với\ chúng\ tôi\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    width: 100vw;
    height: 500px;
    align-items: center;

}
.content-containerbox{
    padding: 0 15%;
    display:flex;
    flex-direction: row;
    /* top: 50%; */

    justify-content: center;
    align-items: center;
}

.first{
    margin: 0 35px;
    display:flex;
    flex-direction: column;
    text-align: left;
    width: 230px;
    height: 350px;
    align-items: center;
}

.second{
    margin: 0 35px;
    display:flex;
    flex-direction: column;
    text-align: left;
    width: 230px;
    height: 350px;
    align-items: center;
}

.third{
    margin: 0 35px;
    display:flex;
    flex-direction: column;
    text-align: left;
    width: 230px;
    height: 350px;
    align-items: center;
}

.circle-1{
    background: #4E6C50;
    clip-path: circle(50%);
    height: 8em;
    width: 8em;
    margin: 0 20px;

    justify-content: center;
    align-items: center;
    display: flex;
}
.circle-2{
    background: #945A4A;
    clip-path: circle(50%);
    height: 8em;
    width: 8em;
    margin: 0 20px;

    justify-content: center;
    align-items: center;
    display: flex;
}
.circle-3{
    background: #FF9900;
    clip-path: circle(50%);
    height: 8em;
    width: 8em;
    margin: 0 20px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.number{
    color: white;
    font-size: 50px;
}

.first-content_body{
    margin-top: 15px;
    /* text-align: left; */
    font-size: 15px;
}
.mini-content-1{
    font-size: 12px;
}

.first-content{
    justify-content: center;
    align-items: center;
}
.second-content{
    justify-content: center;
    align-items: center;
}
.third-content{
    justify-content: center;
    align-items: center;
}


.container-3{
    padding: 0 15%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* width: fit-content; */
    /* height: 100%; */

}

.benefit_content{
    background-image: url(../Assets/MediaReward/nền\ KHTT\ -\ có\ line.png);
    background-size: contain;
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* height: 100%; */
    width: fit-content;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.text-KHTT{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 20px;

}

.mini-content-0{
    font-size: medium;
    margin-left: 0px;
}

.mini--container--sliver{
    margin: 25px 40px;
    display:flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    height: 230px;
    align-items: center;
}
.mini--container--gold{
    margin: 25px 40px;
    display:flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    height: 230px;
    align-items: center;
}
.mini--container--diamond{
    margin: 25px 40px;
    display:flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    height: 230px;
    align-items: center;
}

.container-4{
    margin: 0 20%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.changes_point{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image{
    width: 300px;
    margin: 40px;
}

.container-5{
    margin: 0 20%;
    /* padding: 0 25%; */
    display:inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.rules_content-body5{
    /* margin: 25px 40px; */
    display:flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 15px;
    font-size: medium;
    height: 320px;
}

.rules_content{
    margin-top: auto;
    margin-bottom: auto;
}

.container-6{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;

}

.container-7{
    padding: 0 25%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 107px;
    /* width: fit-content; */
}


.title-nor{
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.address{
    margin: 0 5px;
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    height: 550px;
    align-items: center;

}

.phone{
    margin: 0 35px;
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    height: 550px;
    align-items: center;
}

.social{
    margin: 0 5px;
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    height: 550px;
    align-items: center;
}

.circle{
    background: #915D4E;
    clip-path: circle(50%);
    height: 8em;
    width: 8em;
    margin: 0 20px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.mini-title{
    margin-top: 20px;
}

.mini-content{
    margin: 25px 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.mini-content-social{
    margin: 25px 40px;
    display:flex;
    flex-direction: row;
    text-align: center;
    width: 350px;
    height: 230px;
    align-items: center;
}

.add{
    margin-bottom: 10px;
}
.add-social{
    margin-bottom: 20px;
}

.title-add1{
    font-weight: bold;
}

.content-add1{
    text-align: left;
    font-size: medium;
}

.material-symbols-outlined{
    font-size: 50px;
    margin: 0 20px;
    color: #442921;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bi{
    font-size: 30px;
}